.popup-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(85, 79, 79);

    .popup-body {
        position: absolute;
        top: 16%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 50%;
        min-height: 33vh;

        .popup-select {
            width: 89%;
            margin-left: 11%;
        }

        .popup-file {
            color: rgb(138, 136, 136);

            .full-uploader {
                .custom-file-label::after {
                    content: 'Ready';
                    color: green;
                }
            }

            .fas {
                color: green;
            }

            
        }
    }
}

.popup-add {
    margin-left: 10px;
    color: white;
}

