.baseStyle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2;
    border-radius: 2;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out
};

.activeStyle {
    border-color: #2196f3
};

.acceptStyle {
    border-color: #00e676
};

.rejectStyle{
    border-color: #ff1744
};

.dropzone-btn {
    width: 100%;
    padding: 3px 0px;
}