.company-home-wrapper {
    display: flex;
    flex-flow: column nowrap;

    .company-content-wrapper, .company-digest {
        padding: 4% 10% 0 10%; 
    }

    .company-content-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        
        .company-image-wrapper {
            min-width: 400px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            justify-items: center;


            Image {
                width: 100%;
                transform: translate(-50%, -50%);
            }
        }
        
        .company-info-wrapper {
            padding: 0 10%;
        }
    }

    .company-digest {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    
        .company-digest-item {
            Button {
                width: 100%;
            }
        }
    }
}