// stepper
.stepper-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.stepper-content-wrapper {
    padding-top: 4vh;
    margin: 0 15%;

    Form {
        margin: 0;
        padding: 0;
    }
}

.stepper-error-wrapper {
    height: 70px;
    display: table;
    margin: 10px 0;
    width: 100%;
    background-color: rgb(240, 168, 168);
    animation: slide-up 0.8s ease;

    .error {
        color: white;
        text-align:center; 
        vertical-align: middle;
        display: table-cell;   
    }
}

.stepper-bottom-wrapper {
    padding-top: 15px;
    margin: 0 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 5vw;
}

// adapter 


.adapter-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

    .adapter-objects {
        min-width: 40%;

        .chain-default {
            cursor: pointer;
            font-weight: 350;
        }
        
        .chain-current {
            cursor: pointer;
            font-weight: 500;
            color: rgb(9, 172, 71);
        }
        
        .chain-element {
            border: 2px solid rgb(80, 80, 206);
            border-radius: 10px;
            padding: 3px 0px 3px 15px;
            background-color: rgb(247, 247, 247);
        }

        .chain-element:hover {
            background-color: rgb(226, 221, 221);
        }
        
        .type-identifier {
            font-style: italic;
            color: rgb(49, 44, 44);
            
            font-size: 15px;
            
        }
    }

    .adapter-props {
        .chain-selected-field {
            margin: 10px;
            font-weight: 350;
            padding: 3px 20px 3px 20px;
            border: 2px solid rgb(206, 204, 80);
            border-radius: 10px;
            background-color: rgb(247, 247, 247);
        }
    }
}


.graph-wrapper {}


.upload-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;


    .upload-info-wrapper {
        padding: 0 0 0 30px;
        flex-grow: 2;

        .upload-actions-wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }

    }


}
