.chain-default {
    cursor: pointer;
}

.chain-current {
    cursor: pointer;
    font-weight: 600;
    color: rgb(9, 172, 71);
}

.chain-element {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 0px 5px 15px;
}

.type-identifier {
    font-style: italic;
    color: rgb(49, 44, 44);
    font-size: 15px;
}