* {
    font-family: 'Roboto';
    color: rgb(138, 136, 136);
}

body {
    margin: 0;
    padding: 0;
}


.form-control, .navbar-light .navbar-brand {
    color: rgb(138, 136, 136);
}

.loading, .redirect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #afabab;
}


.redirect {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    & > * {
        margin-top: 20px;
    }
}


.right-top-btn {
    position: absolute;
    top: 0%;
    right: 0%;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 7px;
    padding-left: 8px;
    margin-top: -1px;
    margin-right: -1px;
    border-bottom-left-radius: 10px;
}



.MuiIconButton-label-11, .MuiSvgIcon-root-15.Rating-icon-3 {
    color: orange;
}

.material-select {
    width: 100%;
}

.register-select {
    width: 100%;
    margin-top: 19px !important;
}

.text-danger {
    text-align: center;
}