* {
    font-family: 'Roboto';
    color: rgb(138, 136, 136);
}

body {
    margin: 0;
    padding: 0;
}


.form-control, .navbar-light .navbar-brand {
    color: rgb(138, 136, 136);
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #afabab;
}


.right-top-btn {
    position: absolute;
    top: 0%;
    right: 0%;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 7px;
    padding-left: 8px;
    margin-top: -1px;
    margin-right: -1px;
    border-bottom-left-radius: 10px;
}