* {
    font-family: 'Roboto';
    color: rgb(138, 136, 136);
}

body {
    margin: 0;
    padding: 0;
}


.form-control, .navbar-light .navbar-brand {
    color: rgb(138, 136, 136);
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #afabab;
}
