.header {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.sub-header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.description {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-right: 32px;
    padding-left: 32px;
    font-style: italic;
}


.text, .text-center {
    font-size: 17px;
    font-weight: 350;
    margin-bottom: 5px;
    margin-top: 5px;
}

.text-center {
    text-align: center
}


.info-success {
    color: rgb(25, 145, 25);
    text-align: center;
    font-style: italic;
}
